<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="custom_treasury_cash_menu_root"
        name="Caixa"
        parent="custom_treasury.custom_treasury_menu_root"
        sequence="40"
        groups="custom_treasury_cash.group_treasury_cash_user,custom_treasury_cash.group_treasury_cash_manager"
    />
</odoo>
