POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo

ODOO_DB_HOST=db
ODOO_DB_PORT=5432
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=odoo

WEB_PORT=8069
JOBS_PORT=8071
ODOO_TEST_HTTP_PORT=8090
ODOO_TEST_DB=odoo_test
ODOO_TEST_MODULES=edi_framework,queue_job
ODOO_TEST_TAGS=

POSTGRES_CONTAINER=edi-postgres
ODOO_WEB_CONTAINER=edi-odoo-web
ODOO_JOBS_CONTAINER=edi-odoo-jobs
ODOO_TESTS_CONTAINER=edi-odoo-tests
