POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo

ODOO_DB_HOST=db
ODOO_DB_PORT=5432
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=odoo

WEB_PORT=8069
ODOO_TEST_HTTP_PORT=8090
ODOO_TEST_DB=odoo_test_financeiro
ODOO_TEST_MODULES=custom_financial_base,custom_treasury,custom_treasury_cash,custom_treasury_bank,custom_account_receivable,custom_account_payable,custom_financial_integration,custom_treasury_reconciliation,custom_account_receivable_collection,custom_financial_reports
ODOO_TEST_TAGS=

POSTGRES_CONTAINER=financeiro-postgres
ODOO_WEB_CONTAINER=financeiro-odoo-web
ODOO_TESTS_CONTAINER=financeiro-odoo-tests
