<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="custom_treasury_reconciliation_menu_root"
        name="Conciliacao"
        parent="custom_treasury.custom_treasury_menu_root"
        sequence="45"
        groups="custom_treasury_reconciliation.group_treasury_reconciliation_user,custom_treasury_reconciliation.group_treasury_reconciliation_manager"
    />
</odoo>
